/*reset.css*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/*google fonts*/
@font-face {
  font-family: 'Six Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Six Caps'), local('SixCaps'), url(https://themes.googleusercontent.com/static/fonts/sixcaps/v4/tMrhQDUBAHnnGuM33-yobPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v4/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}



/*main.css*/
html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Source Sans Pro', Arial, sans-serif;
    margin:1em 0;
}

a {
  color: #4BA8CC;
	text-decoration:none;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width:890px;
}

.header-container {
    
}

.footer-container,
.main aside {
    
}

.header-container,
.footer-container,
.main aside {
    
}

.me, .section-heading { font-family:'Six Caps', Arial, sans-serif; line-height:1em; }
.me{ font-size: 4em; text-align:center; }

.logo{
    display:block;
    margin:0 auto;
    max-width:100%;
  max-height:300px;
}
.title{
    font-size: 1.25em;
    margin-bottom: .5em;
    text-align:center;
}

.blurb{
	clear:left;
	color:#5b5b5b;
}
.section-heading{
    background: #E9E9E9;
    font-size: 3em;
    padding: .3em;
    margin-bottom: 0.2083333333333333em;
}


.sub-section{
    border-bottom: 2px dotted #E9E9E9;
    position:relative;
}
.sub-section:last-child{
	border-bottom:0;
}

.focus{
    font-weight:bold;
}
.concentration{ font-weight:normal; font-style:italic; }
.org{
    font-size:.875em;
}
.time-frame{
    font-size:.875em;
}
.description{
    color:#5b5b5b;
    font-size:.875em;
}
.tag-cloud{ font-size:.8125em; }
.tag{ display:inline-block; margin-right:.333em; }
.lvl-a{ font-size:1.4em; }
.lvl-b{ font-size:1.3em; }
.lvl-c{ font-size:1.2em; }
.lvl-d{ font-size:1.1em; }

.social-links{
	display:inline-block;
}


.section-content{
    display:none;
    padding:0 .25em 0.625em 1em;
}
.expanded .section-content{
    display:block;
}

.download-link{
	text-align:right;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    .header-container .pos-a{ float:left; margin-right:5%; width:67.5%; }
    .header-container .pos-b{ float:right; width:27.5%; }
    
    .me{
        font-size:7em;
        text-align:left;
    }
    .title{
        text-align:left;
    }
    .section-heading{
        background:none;
        border-bottom: 2px solid #E9E9E9;
        padding: .3em 0;
    }
    
    .section-content{
        display:block;
    }
	
	.focus{
		padding-right: 2.333em;
	}
	.time-frame{
		font-size:0.9375em;
		position:absolute;
		right:0;
		top:0;
	}
}

@media only screen and (min-width: 710px) {
    .pos-a, .pos-b{float:left;}
    .pos-a{width:67.5%; margin-right:5%;}
    .pos-b{width:27.5%;}
}

@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.print-only{ display:none; }

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }
    
    body {
        font-size:0.875em;
        line-height:1.8;
    }

    a,
    a:visited {
        
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after,
    a[href^="mailto:"]:after {
        content: "";
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
.header-container .pos-a{ float:left; margin-right:5%; width:67.5%; }
    .header-container .pos-b{ float:right; width:27.5%; }
    
    .me{
        font-size:7em;
        text-align:left;
    }
    .title{
        text-align:left;
    }
    .section-heading{
        background:none;
        border-bottom: 2px solid #E9E9E9;
    }
    
    .section-content{
        display:block;
    }
	
	.focus{
		padding-right: 2.333em;
	}
	.time-frame{
		font-size:0.9375em;
		position:absolute;
		right:0;
		top:0;
	}    
    
    .social-links{display:none; }
    
    .me{ font-size:5em; }
    .logo{width:120px;}
    
    .print-only{ display:inline; }
	.web-only{ display:none; }
    

}